/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, span, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}


h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

body {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h2 {
h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

body {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.header {
  background-color: #fff;
  width: calc(100% - 70px);
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 35px;
}
.header .logo {
  max-height: 27px;
}
.header .header_burger_close {
  display: none;
  cursor: pointer;
}
.header .header_burger_close svg {
  width: 35px;
  height: 32px;
}
.header .on {
  display: block;
}
.header .header_burger_open {
  display: block;
  cursor: pointer;
}
.header .header_burger_open svg {
  width: 35px;
  height: 32px;
}
.header .off {
  display: none;
}
.header ._nav_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 235px;
  background-color: #1d1c1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
  -webkit-transform: translateX(500vh);
          transform: translateX(500vh);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.header ._nav_header ._nav_header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}
.header ._nav_header ._nav_header_list ._nav_header_link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-size: 24px;
}
.header .open {
  -webkit-transform: initial;
          transform: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 376px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: initial;
    width: initial;
    padding: 0px 165px;
    padding: 0px 50px;
    background-color: #fff;
  }
  .header img {
    margin-right: 25px;
  }
  .header ._nav_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: initial;
    height: 95px;
    background-color: #fff;
    margin-top: 0px;
    padding-left: 0px;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .header ._nav_header ._nav_header_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    height: 56px;
    margin: 0px 40px 0px 48px;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 55px;
    gap: 0px;
  }
  .header ._nav_header ._nav_header_list ._nav_header_link {
    color: #1d1c1e;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 28px 25px 31px;
    line-height: 14px;
    letter-spacing: 2px;
  }
  .header .header_burger_open {
    display: none;
  }
  .header .header_burger_close {
    display: none;
  }
}
/*

.overlay_menu_burger {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    display: none; 
}
.open {
    display: block;
    z-index: -1;
}*/
h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h2 {
h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

body {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
footer .talk_project {
  position: relative;
  background-color: #E7816B;
  text-align: center;
  color: #fff;
  padding: 25px;
  margin: 50px 35px -200px;
  bottom: 10;
  border-radius: 15px;
}
footer .talk_project h1 {
  font-size: 32px;
}
footer .talk_project p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 49px;
}
footer .talk_project a {
  text-decoration: none;
  font-size: 15px;
  color: #1d1c1e;
  padding: 17px 19px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 8px;
}
footer .black_bg {
  background-color: #1d1c1e;
  padding-top: 150px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
footer .black_bg .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .black_bg .footer_nav .logo {
  max-height: 27px;
  margin: 50px auto;
}
footer .black_bg .footer_nav .ligne_mobile {
  color: rgba(255, 255, 255, 0.1);
  color: rgb(0, 0, 0);
  height: 1px;
  width: 80%;
  margin: 0 24px 32px;
}
footer .black_bg .footer_nav .footer_info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
footer .black_bg .footer_nav .footer_info_list .footer_info_link {
  text-decoration: none;
  color: #fff;
}
footer .black_bg .ligne_pc {
  display: none;
}
footer .black_bg .adress_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 16px;
  color: grey;
  text-align: center;
  gap: 40px;
  padding: 0 50px;
}
footer .black_bg .adress_contact h2 {
  letter-spacing: 1px;
  font-weight: 700;
}
footer .black_bg .adress_contact p {
  font-size: 16px;
}
footer .black_bg .reseau {
  color: #fff;
}
footer .black_bg .reseau .menu_reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin: 40px 95px 64px;
}

@media screen and (min-width: 369px) {
  footer .talk_project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px 0px;
    text-align: center;
    margin: 50px 39px -175px;
  }
  footer .talk_project h1 {
    font-size: 40px;
    width: 468px;
  }
  footer .talk_project p {
    font-size: 16px;
    width: 468px;
  }
  footer .talk_project a {
    margin: auto;
    font-size: 15px;
    text-align: center;
  }
  footer .black_bg .footer_nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 40px;
  }
  footer .black_bg .footer_nav .logo {
    margin: 50px 0;
  }
  footer .black_bg .footer_nav .ligne_mobile {
    display: none;
  }
  footer .black_bg .footer_nav .footer_info_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .black_bg .ligne_pc {
    display: block;
    color: rgba(255, 255, 255, 0.1);
    height: 1px;
    width: 80%;
    margin: 0 32px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  footer .black_bg .adresse_et_reseau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 39px;
    margin-bottom: 80px;
  }
  footer .black_bg .adresse_et_reseau .adress_contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
    gap: 15px;
    padding: 0 0;
  }
}
@media screen and (min-width: 769px) {
  footer {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  footer .talk_project {
    position: relative;
    background-color: #E7816B;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "h1 a" "p a";
    text-align: left;
    grid-template-areas: "h1 h1" "p p" "a a";
    text-align: center;
    color: #fff;
    padding: 25px;
    margin: 50px 165px -175px;
    bottom: 10;
    border-radius: 15px;
  }
  footer .talk_project h1 {
    grid-area: h1;
    font-size: 40px;
    width: 468px;
    margin-left: 95px;
    margin-top: 75px;
  }
  footer .talk_project p {
    grid-area: p;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 49px;
    width: 468px;
    margin-left: 95px;
  }
  footer .talk_project a {
    margin: auto;
    grid-area: a;
    text-decoration: none;
    font-size: 15px;
    color: #1d1c1e;
    text-align: center;
    padding: 17px 19px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 8px;
  }
  footer .black_bg {
    background-color: #1d1c1e;
    padding-top: 150px;
    width: 100vw;
  }
  footer .black_bg .footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 165px;
  }
  footer .black_bg .footer_nav .logo {
    max-height: 27px;
    margin: 50px 0;
  }
  footer .black_bg .footer_nav .ligne_mobile {
    display: none;
  }
  footer .black_bg .footer_nav .footer_info_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
  }
  footer .black_bg .footer_nav .footer_info_list .footer_info_link {
    text-decoration: none;
    color: #fff;
  }
  footer .black_bg .ligne_pc {
    display: block;
    color: rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
    height: 1px;
    width: 80%;
    margin: 0 32px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  footer .black_bg .adresse_et_reseau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 165px;
    margin-bottom: 50px;
  }
  footer .black_bg .adresse_et_reseau .adress_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 16px;
    color: grey;
    text-align: left;
    gap: 155px;
    padding: 0 0;
  }
  footer .black_bg .adresse_et_reseau .adress_contact h2 {
    letter-spacing: 1px;
    font-weight: 700;
  }
  footer .black_bg .adresse_et_reseau .adress_contact p {
    font-size: 16px;
  }
  footer .black_bg .adresse_et_reseau .reseau {
    color: #fff;
  }
  footer .black_bg .adresse_et_reseau .reseau .menu_reseau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
}
main .main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7816B;
  text-align: center;
  color: #fff;
  padding: 25px 25px 0 25px;
  margin-bottom: 120px;
  background-image: url("/src/img/index/oval.svg");
  background-repeat: no-repeat;
  background-position: center;
}
main .main_header h1 {
  font-size: 32px;
  line-height: 36px;
}
main .main_header p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 49px;
  line-height: 25px;
}
main .main_header a {
  display: inline;
  text-decoration: none;
  font-size: 15px;
  color: #1d1c1e;
  padding: 17px 19px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 8%;
  margin: auto;
}
main .main_header .smartphone_mobile {
  margin-top: 80px;
  width: 272px;
}
main .main_header .smartphone_deskop {
  display: none;
}
main .bbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
main .bbox .bbox_design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 91%;
  height: 250px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  border-radius: 15px;
}
main .bbox .bbox_design .bbox_text h1 {
  font-size: 28px;
}
main .bbox .bbox_design .bbox_text p {
  font-size: 15px;
}
main .bbox .bbox_web-design {
  background-image: url("/src/img/index/web-design.png");
  background-position: bottom right -50px;
  background-size: 170%;
}
main .bbox .bbox_app-design {
  background-image: url("/src/img/index/app-design.jpg");
  background-position: bottom right -50px;
  background-size: 170%;
}
main .bbox .bbox_graphic-design {
  background-image: url("/src/img/index/graphic design.jpg");
  background-position: bottom right -50px;
  background-size: 170%;
}
main .soft_skills {
  margin: 160px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
main .soft_skills .soft_skills_design {
  width: 91%;
  margin: auto;
  text-align: center;
  color: #333136;
}
main .soft_skills .soft_skills_design img {
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
}
main .soft_skills .soft_skills_design h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
main .soft_skills .soft_skills_design p {
  font-size: 16px;
  line-height: 26px;
}

@media screen and (min-width: 376px) {
  main {
    padding: 0 40px;
  }
  main .main_header {
    margin-bottom: 120px;
    border-radius: 15px;
  }
  main .main_header h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 60px 58px 0 68px;
    padding-bottom: 15px;
  }
  main .main_header p {
    font-size: 16px;
    margin: 8px 127px 49px 117px;
    line-height: 26px;
  }
  main .main_header a {
    padding: 17px 19px;
    margin-bottom: 80px;
  }
  main .bbox .bbox_design {
    width: 100%;
  }
  main .soft_skills {
    margin: 160px 0 17px 0;
  }
  main .soft_skills .soft_skills_design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px;
    width: 100%;
    margin: auto;
    text-align: left;
  }
  main .soft_skills .soft_skills_design img {
    background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  }
}
@media screen and (min-width: 769px) {
  main {
    padding: 0 164px;
  }
  main .main_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 99px;
    background-color: #E7816B;
    color: #fff;
    text-align: center;
    padding: 25px 25px 0 25px;
    margin-bottom: 120px;
    background-image: url("/src/img/index/oval.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  main .main_header .colonne_deskop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
    width: 540px;
    margin-left: 95px;
    text-align: left;
  }
  main .main_header .colonne_deskop h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
  }
  main .main_header .colonne_deskop p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    width: 445px;
  }
  main .main_header .colonne_deskop a {
    display: inline;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: #1d1c1e;
    padding: 17px 19px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 8%;
    margin: 0;
  }
  main .main_header .smartphone_mobile {
    display: none;
  }
  main .main_header .smartphone_deskop {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: block;
    margin: 139px 99px 0 0;
    width: 272px;
  }
  main .bbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
  main .bbox .bbox_design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 91%;
    height: 250px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    border-radius: 15px;
    width: 100%;
  }
  main .bbox .bbox_design .bbox_text h1 {
    font-size: 28px;
  }
  main .bbox .bbox_design .bbox_text p {
    font-size: 15px;
  }
  main .bbox .bbox_web-design {
    background-image: url("/src/img/index/web-design.png");
    background-position: bottom right -50px;
    background-size: 170%;
  }
  main .bbox .bbox_app-design {
    background-image: url("/src/img/index/app-design.jpg");
    background-position: bottom right -50px;
    background-size: 170%;
  }
  main .bbox .bbox_graphic-design {
    background-image: url("/src/img/index/graphic design.jpg");
    background-position: bottom right -50px;
    background-size: 170%;
  }
  main .soft_skills {
    margin: 160px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  main .soft_skills .soft_skills_design {
    width: 91%;
    margin: auto;
    text-align: center;
    color: #333136;
  }
  main .soft_skills .soft_skills_design img {
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  }
  main .soft_skills .soft_skills_design h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  main .soft_skills .soft_skills_design p {
    font-size: 16px;
    line-height: 26px;
  }
}/*# sourceMappingURL=index.css.map */
}/*# sourceMappingURL=index.css.map */
