@import "_reset.scss";
@import "_setting.scss";
@import "_typographie.scss";
@import "_navigation.scss";
@import "_footer.scss";


    .entete_page{
        
        .ovale{
            position: absolute;
            width: 292px;
            height: 292px;
            left: calc(50% - 292px/2 +584px);
            top: calc(50% - 292 px/2 - 146px);
            background: linear-gradient(90deg, rgba(93,2,2,0.0001)0% ,rgba(93,2,2,0.497569)100%);
        mix-blend-mode: normal;
        opacity: 0.31;
        transform: rotate(90deg);

        }


        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
        text-align: center;
        color:$white;
        background-color: $peach;
        
        padding-bottom:50px;
        margin-bottom: 16px;
        h1{
            margin-top: 24px;
            margin-bottom: 24px;
        }
        p{
            padding:24px;
        }
    }
    .cartes{
        padding:24px;
        
    }

    .carte_express{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 60px;
        img{
            object-fit: cover;
            width: 100%;
            padding:0;
            margin: 0;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;

        }
        .text_express{
            width: 100%;
            padding:10xp;
            background-color: #FDF3F0;
            
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 5%;
            align-items: center;
        justify-content: center;
        }
        h1{
            margin: 35px;
            color: $peach;
            color: $peach;
            font-family: jost;
            font-weight:500;
            font-size: 20px;
            letter-spacing: 5px;
        }
        p{
            padding:32px;
        }
    }


    .bbox{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 96px;
        gap: 24px;
     /*   background-color: aqua;*/

        .bbox_design{

            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 91%;
            height: 350px;
            color:$white;
            text-align: center;
            text-transform: uppercase;
            background-color: black;
            border-radius: 15px;


            .bbox_text{

                h1{
                    font-size: 28px;
                }
                p{
                    font-size: 15px;
                }
             }

            }
        .bbox_app-design{
            background-image:url("/src/img/index/app-design.jpg") ;
            object-fit:cover;
            background-size: 100%
            

        }
        .bbox_web-design{
            background-image:url("/src/img/index/web-design.png") ;
            object-fit:cover;
            background-size: 100%
            

        }

        .bbox_graphic-design{
            background-repeat:no-repeat;
            object-fit: cover;
            background-image:url("/src/img/index/graphic\ design.jpg") ;
            object-fit: cover;
            background-size: 100%;

        }

    }


 @media screen and (min-width: 768px) {
     .entete_page{
         border-radius: 15px;
         margin:40px;
         width: auto;
         padding:60px;
         height: auto;
     }
.cartes{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    width: auto;
}
     .carte_express{
        
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
     }
     .img_express{
         height: 100%;
        object-fit:cover;
        width: 50%;
        padding:0;
        margin: 0;
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
        
    }
    .carte_express img{
        width: auto;
        border-top-right-radius: 0%;
    }
    .text_express{
        border-top-right-radius: 5%;
        height: 100%;
        width: 50%;
    }
    .carte_express .text_express{
        padding:0px;
        border-bottom-left-radius: 0%;
    }


 }
 @media screen and (min-width: 1440px) {
     .entete_page{
        border-radius: 15px;

     }

    .cartes{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        padding:0px;
    }

    .carte_express{
        width: 25%;
            display: flex;
            flex-direction: column;
            object-fit: cover;
            padding: 30px;
    }

    .img_express{
        height: 100%;
       width: 30%;
       padding:0;
       margin: 0;
       border-top-left-radius: 5%;
       border-bottom-left-radius: 5%;
       
   }
   .carte_express img{
       width: 100%;
       border-top-right-radius: 5%;
       border-bottom-left-radius: 0px;
   }
   .text_express{
       height: 100%;
       width: 100%;

   }

     .carte_express .text_express{
       padding:0px;
       border-bottom-left-radius: 5%;
       border-top-right-radius: 0px;
       width: 100%;
   }
   .bbox{
       display: flex;
       flex-direction: row;
       padding:40px 40px 40px 40px
   }
     /*--------------HOVER----------*/

     .talk_project a{
         &:hover{
             background-color: $lightPeach;
             color: white;
         }
     }
     .carte_express .text_express{
         &:hover{
        background-color: $peach;
        h1{
            color: white;
        }
        p{
            color: white;
        }
         }
     }
 }