@import "_reset.scss";
@import "_setting.scss";
@import "_typographie.scss";

//Navigation
@import "_navigation.scss";
@import "_footer.scss";


.section__contact
{
    height: 764px;
    img{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
    .image__container {
        padding: 24px;
    }
}