@import "_reset.scss";
@import "_setting.scss";
@import "_typographie.scss";
@import "_navigation.scss";
@import "_footer.scss";

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;

    @media screen and (min-width: 768px)  and (max-width: 1440px)  {
        padding: 0 40px;
        //gap: 140px 0;
        
    }
    @media screen and (min-width: 1440px) {
        width: calc(1440px - 165px - 165px);
        padding: 32px 165px;
        margin: auto;
    }
}


.card__Pays
{
    @media screen and (min-width: 768px)  and (max-width: 1440px)  {
        display: flex;
        flex-direction: column;
        gap: 40px 0;
    }
    
    @media screen and (min-width: 1440px) {
        margin-bottom: 32px;
       
    }
    
    .image__container{
        height: 320px;
        min-width: 375px;
        img {
            height: 100%;
        }
        
        
        @media screen and (min-width: 375) and (max-width: 768px) {
            width: 689px;
            height: 326px;            
            
        }
        @media screen and (min-width: 1440px) {
            width: 350px;
            height: 326px;
        }
    }

    &__text {
        min-width: calc(375px - 24px*2 );
        
        height: calc(394px - 80px*2);
        padding: 80px 24px;
        text-align: center;
        background-image: url(../img/card-Pays-tablette.png);
        h1 {
            color: $peach;
            margin-bottom: 24px;
        }
        .text--titre{
            font-weight: 700;
        }
        div {
            margin-bottom: 24px;
        }
        @media screen and (min-width: 768px)  and (max-width: 1440px)  {
            //code
            min-width: calc(689px - 75px*2);
            text-align: left;
            padding: 88px 75px;
            address {
                display: flex;
                flex-direction: row;
                gap: 0;
                div {
                    width: 255px;
                }
            }
        }
        @media screen and (min-width: 1440px) {
            //code
            min-width: 730px;
            text-align: left;
            padding: 88px 75px;
            height: calc(326px - 88px*2);
            address {
                display: flex;
                flex-direction: row;
                div {
                    width: 255px;
                }
            }
        }
    } 
    
        
}
@media screen and (min-width: 1440px) {
    .Belgique, .uk {
        display: flex;
        flex-direction: row-reverse;
        justify-items: center;
        justify-content: center;
        gap: 30px;
        width: 720px;
    }
    .Austria {
        display: flex;
        flex-direction: row;

        justify-items: center;
        justify-content: center;
        gap: 30px;
        width: 720px;
    }
}
