@import "_reset.scss";
@import "_setting.scss";
@import "_typographie.scss";

//Navigation
@import "_navigation.scss";
@import "_footer.scss";

.card__Pays {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    align-items: center;
    
    

    &__image
    {
        height: 320px;
        max-width: 375px;
        img {
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        &--768{
            display: none;
        }
    }
    &__text
    {
        text-align: center;
        padding: 80px 20px;
        background-color: #FDF3F0;
        background-image: url(../img/card-Pays-tablette.png);
        background-repeat: repeat;
        width: calc(375px - 36px);
        

        h1{
            color: $peach;
            font-size: 32px;
            line-height: 36px;
        }

       div {
            margin: 24px 0;
        }
        .text--titre 
        {
            font-weight: 700;
            color: $darkGrey;
        }
        a, a:visited
        {
            color: $darkGrey;
            text-decoration: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 1440px)
{  
    
    .card__Pays {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        
        margin-top: 120px;
    
        &__image
        {
            height: 326px;
            max-width: 689px;
            &--375{
                display: none;
            }
            &--768{
                display: flex;
                border-radius: 15px;
            }
        }
        &__text
        {
            text-align: center;
            margin-top: 31px;
            width: 600px;
            border-radius: 15px;
            text-align: left;
            padding-left: 75px;
    
            h1{
                color: $peach;
                font-size: 32px;
                line-height: 36px;
            }
    
           div {
                width: 255px;
                
            }

            .text--titre 
            {
                font-weight: 700;
                color: $darkGrey;
            }
            a, a:visited
            {
                color: $darkGrey;
                text-decoration: none;
            }
            address {
                display: flex;
                gap: 30px;
            }
        }
    }
    

}